<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="main-header">
      <div class="container">
        <h1>My Website</h1>
      </div>
    </header>
    <!-- Nav-Bar -->
    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Sevices</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
    <!-- Showcase -->
    <section id="showcase">
      <div class="container">
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, quasi?
        </h1>
      </div>
    </section>
    <!-- Main Section -->
    <div class="container">
      <section id="main">
        <h1>Welcome</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
          corrupti magni temporibus nam, iure rem debitis voluptatibus omnis
          consequuntur dolorem cum atque optio, alias cupiditate explicabo eos
          deserunt laudantium in veritatis. Totam nostrum laboriosam delectus
          unde similique. Reprehenderit consequuntur esse fugit, voluptates id
          cumque, porro repellat cum, placeat quae dicta.
        </p>
      </section>
      <!-- Side-bar -->
      <aside id="sidebar">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure tempore
          maxime officiis asperiores alias, nihil a nesciunt quam dolor,
          consequatur fuga aliquam reiciendis hic. Facere repudiandae et
          voluptatibus repellendus fugiat sint reprehenderit, accusamus
          voluptate aliquid laudantium ex sequi tempore est.
        </p>
      </aside>
    </div>
    <!-- Footer -->
    <footer id="main-footer">
      <p>Copyright &copy; 2019 My Website</p>
    </footer>
  </body>
</html>
